*.egg
*.egg-info
*.log
*.pyc
*.zip
.cache
.eggs
.coverage
.tox
.venv
.pytest_cache
.vscode
/.mypy_cache
build
dist
docs/build/html/*
docs/source/plantuml-images
docs/source/README.rst
tests/htmlreport
tests/htmlcov
sec.perm
mng.perm
tls-root-cert.pem
storage
.DS_Store
*/.DS_Store